.swiper {
    width: 100%;
    height: 60vh;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.slide-text {
    position: absolute;
    bottom: 0; /* Alinhar o texto na parte inferior do slide */
    left: 0;
    right: 0;
    padding: 20px; /* Adicionar um espaçamento interno */
    background-color: rgba(36, 35, 32, 0.5); /* Fundo semi-transparente */
    color: white;
    font-size: 48px; /* Tamanho de fonte aumentado */
    line-height: 1.5; /* Espaçamento entre linhas */
    height: 30%; /* Ocupar metade do slide verticalmente */
}