.titulo{
    color: rgb(253, 70, 38);
    text-align: center;
}

.img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.img_fundo{
    background-image: url('../../assets/Imagem/img-358420-morro-da-mineira-rj.jpg');
    width: auto;
    height: auto;

}